# Node modules
**/node_modules/

# Build artifacts
.dist/
/backend/dist/

# Entornos
.env
.env.*.local

# Backend uploads y data locales
/backend/uploads/
/backend/data/
/backend/config

# Logs
logs
*.log
backend/logs/

# IDE / OS
.vscode/
.idea/
.DS_Store

